.logincontainer {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(144, 183, 255);
}
.login {
  width: 50vw;
  height: 50vh;
  padding: 20px;
  box-shadow: 0 0 10px white;
}
.signup {
  padding: 10%;
  width: 50vw;
  height: 85vh;
  box-shadow: 0 0 10px gray;
}
.navlink{
  margin-left: auto;
  padding: 20px;
  display: flex;
  gap: 20px;
  
}
.navlink a{
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
.dashboard{
  width: 100%;
}
.leadcard{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(19rem,1fr));
  justify-content: space-evenly;
  gap: 10px;
}
.editbuttons{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.addcard{
  width: 50vw;
  height: max-content;
  padding: 10px;
}